* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* START HEADER ********/
header {
    background:
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.4)),
        url("https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1470&q=80");
    height: 800px;
    background-size: cover;
    text-align: center;
}

.logo {
    color: white;
    font-family: 'Yesteryear', cursive;
    font-size: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

.nav-menu {
    list-style: none;
    color: #fff;
}

.nav-menu li {
    display: inline-block;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;

}

.nav-menu li a {
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.3s ease-in-out;
}

.nav-menu li a:hover {
    color: #F2AC32;
}

.header-title-1 {
    color: #F2AC32;
    font-family: 'Rochester', cursive;
    font-size: 44px;
    margin-top: 170px;
    margin-bottom: 15px;
}

.header-title-2 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 55px;
    letter-spacing: 6px;
    margin-bottom: 30px;
}

.header-cta-button {
    color: white;
    background-color: #F2AC32;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.header-cta-button:hover {
    background-color: rgb(196, 137, 36);

}

.my-bag {
    font-size: 24px;
}
/******* END HEADER ********/

/********** START DISCOVER SECTION ***********/
.discover-section {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 80px;
}

.discover-h1 {
    font-family: 'Rochester', cursive;
    color: #F2AC32;
    margin-bottom: 15px;
}

.discover-h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.food-border {
    border: 2px solid #F2AC32;
    position: relative;
}

.food-overlay {
    padding-top: 47px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 1px 2px 14px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 14px 2px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 14px 2px rgba(0,0,0,0.75);
}

.food-item {
    height: 440px;
    width: 320px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.food-item p {
    color: rgb(99, 99, 99);
    font-size: 16px;
    text-align: justify;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.food-item a {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #F2AC32;
    transition: all 0.3s ease-in-out;
}

.food-item a:hover {
    color: #000;
}

.food-1 {
    background-image: url("../images/burger.jpg");
    background-size: cover;
    background-position: center;
    margin-top: -30px;
    -webkit-box-shadow: 1px 2px 14px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 14px 2px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 14px 2px rgba(0,0,0,0.75);
}

.food-2 {
    background-image: url("../images/pasta-shrimp.jpg");
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 1px 2px 14px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 14px 2px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 14px 2px rgba(0,0,0,0.75);
}
/********** END DISCOVER SECTION ***********/

/************* START SPECIALITIES SECTION **************/
.specialities-section {
    background: 
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.4)),
        url("../images/ingredients-background.jpg");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.specialities-h1,
.special-menu-h1,
.our-menu-h1,
.booking-table-h1 {
    font-family: 'Rochester', cursive;
    font-size: 40px;
    color: #F2AC32;
    margin-bottom: 15px;
}

.specialities-h2,
.our-menu-h2 {
    font-size: 50px;
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.specialities-h3 {
    font-size: 26px;
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.specialities-overlay {
    opacity: 0;
    position: absolute;
    background-color: rgba(242,172,50,0.7);
    width: 100%;
    height: 100%;
    padding: 10px;
    transition: all 0.4s ease-in-out;
}

.specialities-overlay-border {
    border: 2px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
}

.specialities-middle {
    text-align: center;
    position: relative;
}

.specialities-middle:before {
    content: "";
    position: absolute;
    border-top: 100px solid #f0f0f0;
    border-right: 98.5vw solid transparent;
    top: -100px;
    left: 0;
}

.specialities-middle:after {
    content: "";
    position: absolute;
    border-bottom: 100px solid #f0f0f0;
    border-left: 100vw solid transparent;
    bottom: -100px;
    right: 0;
}

.specialities-row,
.our-menu-row {
    display: flex;
    justify-content: center;
}

.specialities-col {
    width: 350px;
    margin-left: 20px;
    margin-right: 20px;
}

.specialities-image1,
.specialities-image2,
.specialities-image3 {
    width: 100%;
    height: 300px;
    margin-bottom: 25px;
    position: relative;
}

.specialities-image1 {
    background-image: url("../images/breakfast.jpg");
    background-size: cover;
}

.specialities-image1:hover .specialities-overlay,
.specialities-image2:hover .specialities-overlay,
.specialities-image3:hover .specialities-overlay {
    opacity: 1;
}

.specialities-overlay a {
    text-decoration: none;
}

.specialities-image2 {
    background-image: url("../images/lunch.jpeg");
    background-size: cover;
}

.specialities-image3 {
    background-image: url("https://images.unsplash.com/photo-1553621042-f6e147245754?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1525&q=80");
    background-size: cover;
}
/************* END SPECIALITIES SECTION **************/

/************* START SPECIAL MENU SECTION **************/
.special-menu-section {
    text-align: center;
    background-color: #f0f0f0;
    padding: 50px;
}

.special-menu-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.special-menu-h2,
.booking-table-h2 {
    color: #000;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
}

.special-menu-h3 {
    width: 100%;
    font-family: 'Rochester', cursive;
    font-size: 22px;
    letter-spacing: 2px;
}

.separator,
.separator-orange {
    display: inline-block;
    width: 40px;
    border-bottom: 2px solid #fff;
    margin: 15px auto;
}

.special-menu-h4 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    width: 100%;
}

.special-menu-p {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    padding: 30px 20px;
    width: 100%;
    letter-spacing: 1.5px;
}

.special-menu-col {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.col-large {
    width: 50%;
    height: 450px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.col-large-1,
.col-large-3 {
    background-color: #F2AC32;
    color: #fff;
    justify-content: center;
}

.fa-ice-cream,
.fa-bread-slice {
    width: 100%;
    font-size: 50px;
    margin-bottom: 10px;
}

.col-large-2 {
    background-image: url("../images/eggs-ben.jpg");
}

.col-large-4 {
    background-image: url("../images/ice-cream.png");
}

.col-large-2,
.col-large-4 {
    background-size: cover;
    background-position: center;
}

.fa-drumstick-bite,
.fa-utensils,
.fa-pizza-slice,
.fa-fish {
    color: #F2AC32;
    font-size: 50px;
    width: 100%;
    margin-bottom: 10px;
}

.col-small {
    width: 50%;
    height: 225px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
}

.col-small-1 {
    background-color: #fff;
}

.col-small-2 {
    background-image: url("../images/grilled-chicken.jpg");
}

.col-small-3 {
    background-image: url("../images/salmon.jpg");
}

.col-small-4 {
    background-image: url("../images/pasta2.jpg");
}

.col-small-5 {
    background-image: url("../images/pizza.jpg");
}

.col-small-2,
.col-small-3,
.col-small-4,
.col-small-5 {
    background-size: cover;
    background-position: center;
}

.col-small-h3 {
    font-family: 'Rochester', cursive;
    font-size: 22px;
    letter-spacing: 2px;
    width: 100%;
    color: #F2AC32;
}

.col-small-h4,
.col-small-h5 {
    width: 100%;
    color: #000;
    letter-spacing: 3px;
    font-family: 'Oswald', sans-serif;
}

.col-small-h5 {
    color: #F2AC32;
    margin-top: 10px;
}

.separator-orange {
    border-bottom: 2px solid #F2AC32;
}
/************* END SPECIAL MENU SECTION **************/

/********** START OUR MENU SECTION ***********/
.our-menu-section {
    background:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)),
        url("../images/ingredients.jpg");
    background-size: cover;
    text-align: center;
    padding: 0px 50px;
    padding-top: 50px;
    padding-bottom: 70px;
}

.food-container {
    color: #fff;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 25px;
}

.our-menu-col {
    width: 335px;
    margin: 30px;
}

.food-title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
}

.food-price {
    font-size: 25px;
    color: #F2AC32;
}

.food-ingredients {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
}

.our-menu-button {
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px 30px;
    transition: all 0.3s ease-in-out;
}

.our-menu-button:hover {
    background-color: #f2ac32a9;
    padding: 10px 20px;
}
/********** END OUR MENU SECTION ***********/

/********** START BOOKING TABLE SECTION **********/
.booking-table-section {
    padding: 60px 50px;
    text-align: center;
    background-color: #f0f0f0;
}

.booking-table-row,
.footer-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.booking-table-row {
    font-family: 'Oswald', sans-serif;
}

.booking-div {
    background-color: #F2AC32;
    margin: 30px 15px;
}

.booking-icon {
    display: inline-block;
    border-right: 2px solid #f0f0f0;
}

.booking-icon,
.booking-data {
    padding: 10px 20px;
}

.booking-cta-button {
    color: #fff;
    background-color: #F2AC32;
    text-decoration: none;
    padding: 10px 40px;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.booking-cta-button:hover {
    background-color: rgb(196, 137, 36);
}
/********** END BOOKING TABLE SECTION ***********/

/********** START FOOTER SECTION **********/
footer {
    background:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.8)),
        url("../images/footer.jpg");
    background-size: cover;
    padding: 40px 0px;
    padding-bottom: 0;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
}

.footer-col {
    margin: 30px 50px;
}

.footer-title {
    font-size: 20px;
    color: #F2AC32;
    margin-bottom: 30px;
}

.footer-col p {
    font-size: 17px;
    margin-bottom: 10px;
}

.footer-col a {
    text-decoration: none;
    color: #fff;
}

.footer-email {
    padding: 10px 22px;
    width: 200px;
    height: 45px;
}

.footer-subscribe {
    display: inline-block;
    width: 200px;
    height: 45px;
    text-decoration: none;
    color: #fff;
    background-color: #F2AC32;
    text-align: center;
    margin-top: 15px;
    line-height: 45px;
    transition: all 0.3s ease-in-out;
}

.footer-subscribe:hover {
    background-color: rgb(196, 137, 36);
}

.copyright {
    padding: 20px;
    font-size: 11px;
    text-align: center;
    border-top: 1px solid #f0f0f04f;
    margin-top: 40px;
}

.copyright-name {
    color: #008000;
    text-decoration: none;
}
/********** END FOOTER SECTION ***********/
